<h2 id="emergency">טלפונים בחירום</h2>
<ul>
    <li>: רב"ש נופית: דוד נזרי-שביט
        <a href="tel: +972524241751"> 052-424-1751 </a></li>
    <li>משטרה <a href="tel: 100">100</a></li>
    <li>משטרה בטלפון נעול ו/או ללא כרטיס סים: <a href="tel: 112">112</a></li>
    <li>מגן דוד אדום <a href="tel: 101">101 ,</a></li>
    <li>איחוד הצלה <a href="tel: 1221">1221 ,</a></li>
    <li>מכבי אש <a href="tel: 102">102 ,</a></li>
</ul>
<h2 id="orders">הוראות התנהגות</h2>
<ul>
    <li>יש להשמע להוראות הסדרנים והמאבטחים</li>
    <li>לנוע רק בשבילים המסומנים</li>
    <li>אין להבעיר אש או גז</li>
    <li>האירוע בכפוף לתקנות תו ירוק</li>
    <li>חובת עטיית מסכה בתחום האירוע</li>
</ul>
<p><a class="button fancy-button" href="stations-list">לרשימת התחנות</a></p>