a {
    border-bottom-style: none;
}

.fancy-button {
    background-color: white;
    color: #065706;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/